aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
asgiref==3.9.0
billiard==4.2.1
celery==5.5.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
distro==1.9.0
Django==5.2.4
django-openai-assistant==0.7.9
frozenlist==1.7.0
jiter==0.10.0
kombu==5.5.4
Markdown==3.8.2
multidict==6.6.3
openai==0.28.0
propcache==0.3.2
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.1
redis==6.2.0
sqlparse==0.5.3
tqdm==4.67.1
typing-inspection==0.4.1
tzdata==2025.2
vine==5.1.0
yarl==1.20.1
